@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
html {
  font-size: 100%;
}

/*16px*/
:root {
  /* colors */
  --primary-50: #f3f0ff;
  --primary-100: #e5dbff;
  --primary-200: #d0bfff;
  --primary-300: #b197fc;
  --primary-400: #9775fa;
  --primary-500: #845ef7;
  --primary-600: #7950f2;
  --primary-700: #7048e8;
  --primary-800: #6741d9;
  --primary-900: #5f3dc4;

  --secondary-50: #d3f9d8;
  --secondary-100: #b2f2bb;
  --secondary-200: #8ce99a;
  --secondary-300: #69db7c;
  --secondary-400: #51cf66;
  --secondary-500: #40c057;
  --secondary-600: #37b24d;
  --secondary-700: #2f9e44;
  --secondary-800: #2b8a3e;
  --secondary-900: #1f5a2b;

  /* grey */
  --grey-50: #fafafa;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* fonts  */
  --headingFont: "Roboto Condensed", Sans-Serif;
  --bodyFont: "Cabin", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 2px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1200px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 4rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

.page {
  min-height: calc(100vh - var(--nav-height));
}

.section-center {
  width: 95vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-sm {
  padding: 1.5rem 0;
}

.full-page,
.page-100 {
  min-height: 100vh;
}

/* title */
.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

.title {
  text-align: left;
  margin-bottom: 0.5rem;
}
.title h3 {
  font-weight: 700;
  // font-size: 1.9rem;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.35rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    // line-height: 1;
  }
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-js {
  justify-content: start;
}

.f-jc {
  justify-content: center;
}

.f-je {
  justify-content: end;
}

.f-jsb {
  justify-content: space-between;
}

.f-as {
  align-items: start;
}

.f-ac {
  align-items: center;
}

.f-ae {
  align-items: end;
}

.f-ab {
  align-items: baseline;
}

.btn-block {
  width: 100%;
}

.form {
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
  background: var(--white);
  border-radius: var(--borderRadius);
  padding: 2rem 3rem;
  padding-bottom: 2.4rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.04);

  h3 {
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  button[type="submit"] {
    margin-top: 2rem;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-js {
  justify-content: start;
}

.f-jc {
  justify-content: center;
}

.f-je {
  justify-content: end;
}

.f-jsb {
  justify-content: space-between;
}

.f-as {
  align-items: start;
}

.f-ac {
  align-items: center;
}

.f-ae {
  align-items: end;
}

.f-ab {
  align-items: baseline;
}

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.show {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.grid-3 > * {
  width: 100%;
}
@media screen and (max-width: 998px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .section-center {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.btn-block {
  width: 100%;
}

// @media screen and (max-wid)
.pointer {
  cursor: pointer;
}
